/* google font Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* shared styles */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
}

/* header section styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 127px 50px 135px;
}
.nav-title{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.nav-title .primary-text{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-title .secondary-text{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}
nav > ul{
    display: flex;
}
nav li{
    margin-left: 30px;
}
nav li a{
    color: #424247;
    font-weight: 400;
}
nav li:first-child a{
    color: #FF5400;
    font-weight: 700;
}

/* banner section styles */
.banner{
    padding: 0 135px;
}
.banner-content{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('/Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 16px;
    padding: 75px 100px;
    text-align: center;
}
.banner-title{
    color: #FFF;
    font-size: 3rem;
    font-weight: 800;
}
.banner-description{
    color: #FFF;
    /* width: 520px; */
    margin: 0 auto;
}
.banner-input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: 35px;
}
.banner-input .input{
    width: 25%;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    display: inline-flex;
}
.banner-input .button{
    width: 25%;
}
.input input, .button button{
    width: 100%;
    border: none;
}

.banner-input button{
    background: #FF5400;
    padding: 10px;
    border-radius: 8px;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* responsive media queries code here */
/* small or mobile responsive */
@media  screen and (max-width: 600px) {
    nav, nav > ul{
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }
    .banner{
        padding: 0;
    }
    .banner-content{
        padding: 20px 10px;
    }
    .banner-input{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }
    .banner-input .input, .banner-input .button{
        width: 100%;
    }
}