/* google font Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

/* shared styles */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Mulish', sans-serif;
}
.btn-primary{
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 12px 35px;
    background: #FF5400;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
}

/* header section styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 127px 25px 135px;
}
.nav-title{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.nav-title .primary-text{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-title .secondary-text{
    color: #FF5400;
    font-size: 2.25rem;
    font-weight: 800;
}
nav > ul{
    display: flex;
}
nav li{
    margin-left: 30px;
}
nav li a{
    color: #424247;
    font-weight: 400;
}
nav li:first-child a{
    color: #FF5400;
    font-weight: 700;
}

/* banner section styles */
.banner{
    padding: 0 135px;
}
.banner-content{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group 13 (1) (1).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 16px;
    padding: 75px 100px;
    text-align: center;
}
.banner-title{
    color: #FFF;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;
}
.banner-description{
    color: #FFF;
    /* width: 520px; */
    /* margin: 0 auto; */
}
.banner-input{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: 35px;
}
.banner-input .input{
    width: 25%;
    padding: 10px;
    border-radius: 8px;
    background: #FFF;
    border: none;
    display: inline-flex;
    color: rgba(19, 19, 24, 0.50);
}
.banner-input .button{
    width: 25%;
}
.input input, .button button{
    width: 100%;
    border: none;
    color: #FFF;
}

.banner-input button{
    background: #FF5400;
    padding: 10px;
    border-radius: 8px;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* tour section styles */
.tour{
    padding: 30px 135px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.tour .tour-content{
    width: 55%;
}
.tour-content .tour-content-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.tour-content .tour-content-description{
    color: rgba(19, 19, 24, 0.70);
}
.tour-content-description > ul li{
    list-style: disc;
    list-style-position: inside;
    margin-top: 20px;
}
.tour-content-description .last-para{
    color: #5A5A5D;
    margin-top: 20px;
}
.tour .img-container{   
    width: 45%;
}
.img-container img{
    background: lightgray 50%;
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

/* destination section styles */
.destination{
    padding: 0 135px;
}
.destination-content{
    padding: 0 100px;
    text-align: center;
}
.destination-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.destination-description{
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 35px;
}
.destination .img-container{
    display: grid;
    grid-template-areas: 
    "M M M M M M I I I I I I"
    "S S S S A A A A A K K K"
    "B B B B B b b b b b b b"
    ;
    gap: 20px;
}
.maldives{
    grid-area: M;
}
.indonesia{
    grid-area: I;
}
.srilanka{
    grid-area: S;
}
.america{
    grid-area: A;
}
.kashmir{
    grid-area: K;
}
.bangladesh{
    grid-area: B;
}
.bandarban{
    grid-area: b;
}
.destination .img-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.maldives, .indonesia, .srilanka, .america, .kashmir, .bangladesh, .bandarban{
    width: 100%;
    height: auto;
    position: relative;
}
.text{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* choose section styles */
.choose{
    padding: 0 135px;
}
.choose-content{
    text-align: center;
    padding: 35px 100px;
}
.choose-content .choose-content-title{
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}
.choose-content .choose-content-description{
    color: rgba(19, 19, 24, 0.70);
}
.choose-card-container{
    display: grid;
    grid-template-areas: 
    "card-1 card-1 card-2 card-2"
    " .      card-3 card-3   .   "
    ;
    gap: 20px;
}
#card-1{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    grid-area: card-1;
}
#card-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    grid-area: card-2;
}
#card-3{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    grid-area: card-3;
}
.choose-card-container .card{
    width: 100%;
    height: auto;
    border-radius: 16px;
    padding: 25px;
}
.card-heading{
    color: #131318;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 15px;
}
.card-description{
    color: #5A5A5D;
}

/* newsletter section styles */
.newsletter{
    padding: 70px 135px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.newsletter-content{
    width: 40%;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.newsletter-title{
    color: #131318;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 10px;
}
.newsletter-para{
    color: #5A5A5D;
}
hr{
    margin-top: 20px;
}
.newsletter input{
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    padding: 12px 35px;
    margin-top: 20px;
    border: none;
}
.newsletter .img-container{
    width: 60%;
    position: relative;
}
.newsletter .img-container img{
    width: 100%;
}
.save-up-text{
    width: 250px;
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    padding: 12px;
    position: absolute;
    bottom: 12%;
    right: 1.5%;
    transform: rotate(-19.628deg);
}
.travel{
    color: #FFF;
    font-size: 1rem;
}
.save-up{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 800;
}

/* footer section styles */
footer{
    background: rgba(19, 19, 24, 0.05);
    padding: 70px 175px;
    text-align: center;
}
.footer-content{
    text-align: center;
    padding: 0 25px;
}
.footer-description{
    color: #5A5A5D;
    margin-top: 10px;
    margin-bottom: 25px;
}
.social-media-icons{
    display: inline-flex;
    align-items: center;
    gap: 20px;
}
footer hr{
    margin-top: 45px;
    margin-bottom: 45px;
}
.copyright-text{
    color: #131318;
    font-weight: 300;
}

/* responsive media queries code here */
/* small or mobile responsive */
@media  screen and (max-width: 600px) {
    nav, nav > ul, .tour, .newsletter{
        justify-content: center;
        flex-direction: column;
        padding: 10px;
    }
    .banner, .destination, .choose, .footer-content{
        padding: 10px;
    }
    .banner-content, .destination-content, .choose-content,
    footer{
        padding: 25px;
    }
    .banner-input{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }
    .banner-input .input,
    .banner-input .button,
    .tour .tour-content,
    .tour .img-container,
    .newsletter-content,
    .newsletter .img-container{
        width: 100%;
    }
    .destination .img-container{
        grid-template-areas: 
        "M"
        "I"
        "S"
        "A"
        "K"
        "B"
        "b"
        ;
    }
    .choose-card-container{
        grid-template-areas: 
        "card-1"
        "card-2"
        "card-3"
        ;
    }
}